body {
  background-image: url(../public/texture-background.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
}

form {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.inputSave {
  width: 30%;
  height: 50px;
  font-size: 100%;
}

.saveButton {
  width: 5%;
  font-size: 20px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.taskCount {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  background-color: #333;
  color: #fff;
}

.filters {
  display: flex;
  justify-content: center;
}

.filters button {
  margin: 10px;
  border-radius: 32px;
  width: 8%;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.todo-items ul {
  list-style: none;
  padding-left: 0;
}

.todo-items ul li {
  display: flex;
  border: solid 1px grey;
  margin: 5px 0;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.col-title-h {
  width: 70%;
  text-align: center;
}

.col-status-h {
  width: 20%;
  text-align: center;
}

.col-remove-h {
  width: 10%;
  text-align: center;
}

.col-title {
  width: 70%;
}

.col-status {
  width: 20%;
  text-align: center;
}

.col-remove-h {
  width: 10%;
  text-align: center;
}

.remove {
  border-radius: 32px;
  font-weight: bold;
  background: #00CC66;
  color: #fff;
  cursor: pointer;
}